<h1>Testkit - flatten an array</h1>

<p>
  <%= @array_1 %><br/>
  --><br/>
  <%= @flattened_1 %>
</p>
<p>
  <%= @array_2 %><br/>
  --><br/>
  <%= @flattened_2 %>
</p>
<p>
  <%= @array_3 %><br/>
  --><br/>
  <%= @flattened_3 %>
</p>
<p>
  <%= @array_4 %><br/>
  --><br/>
  <%= @flattened_4 %>
</p>
